.job {
  text-align: left;
  border-bottom: 1px solid #eee;
  margin-bottom: 10px;
  padding-bottom: 10px;
}

.skill-tags {
  margin-top: 5px;
}

.skill-tag {
  display: inline-block;
  margin-right: 5px;
  padding: 2px;
  border: 1px solid #efefef;
  border-radius: 4px;
  background-color: #eee;
  color: #333;
  font-size: 11px;
}
